body {
  font-family: monospace;
  color: #333;
  margin: 0;
}

h1 {
  text-align: center;
}

#hosts-container {
  vertical-align: top;
  position: fixed;
  height: 100%;
  left: 0;
  width: 15%;
  overflow: auto;
  transition: all .1s ease;
}

.host {
  display: table;
  cursor: pointer;
}

.docker-li {
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
  list-style: none;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  margin: 0 0 -1px;
  padding: 3px 0;
  background: #eceef1;
}

.docker-li:hover {
  background: #4FC1E9;
}

#terminal-container {
  position: fixed;
  right: 0;
  top: 0;
  height:100%;
  width: 85%;
  transition: all .1s ease;
}

#terminal-container .terminal {
  background-color: #111;
  color: #fafafa;
  padding: 2px;
}

#terminal-container .terminal:focus .terminal-cursor {
  background-color: #fafafa;
}
